<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#users}}
    <div>
      <ul>
        <li><img src="{{avatar}}"></li>
        <li>{{name}}</li>
        <li>{{skills}}</li>
      </ul>
    </div>
    {{/users}}
  </body>
</html>
